@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

/* o "*" faz com que todos os styles sejam aplicados em todos os elementos da pagina */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
}


/*criando variaveis de fontes de texto*/

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

html {
    scroll-behavior: smooth;
}


/*estilo do icone de menu flutuante*/

.hamburguer {
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}


/*mudando estilo do icone para acompanhar a caixa de menu*/

.show-menu .hamburguer {
    right: 16rem;
}


/*estilo das linhas do icone do menu*/

.line {
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}


/*alterando estilo das linhas do icone de menu para dpois de clicar nele*/

.show-menu #line1 {
    transform: rotate(45deg) translate(0.3rem, 0.45rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(0.3rem, -0.45rem);
}


/*estilo de mensagem para fechar o menu lateral*/

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;
}


/*estilo da caixa de texto antes de passar com o mause por cima do icone de fechar o menu*/

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: 0.5rem solid #a044ff;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}


/*estilo do cabeçario*/

header {
    width: 100%;
    /*vh se aplica para pegar o tamnho de tela do aparelho para q o tamanho da imagem se adpte a  computador e cell indepentende do tamnho*/
    height: 100vh;
    /*caso o elemento fque maior que a tela isso inpede de criar uma barra de rolagem   */
    overflow: hidden;
    position: relative;
}


/* estilo da imagem de fundo do cabeçario*/

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}


/*estilo para selecionar os elemntos dentro do im-wrapper*/

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    /*inserindo a animação de frames na imagem de fundo*/
    animation: zoom 25s;
}


/*estilo de animação de fundo do cabeçario*/

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


/*estilo do texto e botão do cabeçario*/

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    /*colocar opacidade zero para não pegar o inicio da anição e suavizar o resultado*/
    opacity: 0;
    /*inserindo animação no texto com atraso diferente para suavizar o resultado*/
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    /*colocar opacidade zero para não pegar o inicio da anição e suavizar o resultado*/
    opacity: 0;
    /*inserindo animação no texto com atraso diferente para suavizar o resultado*/
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    /*espaçamento entre as letras*/
    letter-spacing: 0.1rem;
    /*site com fontes gradientes*/
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, rgba(41, 8, 53, 1), #703399d7, #d400ffdc, #d400ff);
    background: linear-gradient(to right, rgba(41, 8, 53, 1), #703399ec, #a619c2ee, #d400ff);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*colocar opacidade zero para não pegar o inicio da anição e suavizar o resultado*/
    opacity: 0;
    /*inserindo animação no botão com atraso diferente para suavizar o resultado*/
    animation: moveBanner 1s 0.9s forwards;
}


/*estilo de animação de entrada de texto no cabeçario*/

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


/*estilo de caixa do menu*/

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
}


/*estilo do menu com script*/

.show-menu .sidebar {
    right: 0;
}


/*estilo do texto do menu*/

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*centralizando texto do menu*/

.menu-item {
    text-align: center;
    margin-bottom: 0.5rem;
}


/*estilo para fonte do texto do menu*/

.menu-link {
    font-family: var(--font-action);
    font-size: 1.5rem;
    color: #555;
    transition: color 1s;
}


/*estilo de animação do texto do menu*/

.menu-link:hover {
    color: #6a3093;
}


/*estilo para criar destaque na para link da pagina inicial*/

.menu-link-home {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link-home:hover {
    color: #6a3093;
    border-bottom: solid;
}


/*estilo dos icones para redes sociais*/

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/*estilo para mudar a aparencia dos icones*/

.social-media i {
    background-color: #6a3093;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}


/*estilo de animação dos icones de midias sociais*/

.social-media i:hover {
    background-color: #a044ff;
}


/*sessao de conhecimentos */

.conhecimentos {
    height: 100%;
    display: grid;
    /*16 colunas dentro da grid*/
    grid-template-columns: repeat(16, 1fr);
    /*6 linhas dentro da grid*/
    grid-template-rows: repeat(6, 6rem);
    row-gap: 0.5rem;
}


/*grade de texto*/

.conhecimento:nth-child(1) {
    /*começa na coluna 4 e termina  na 7*/
    grid-column: 4 / 7;
    /*começa na linha 1 e termina na 3*/
    grid-row: 1 / 2;
    margin-top: 10px;
}


/*espacamento do titulo*/

.conhecimento {
    margin: -2rem;
    padding-top: 2rem;
    padding-bottom: -3rem;
}

.conhecimento:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    margin-top: 10px;
}

.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / -2;
    margin-top: 10px;
}

.conhecimento:nth-child(4) {
    grid-column: 5 / 8;
    grid-row: -1 / -1;
    margin-top: 10px;
}

.conhecimento:nth-child(5) {
    grid-column: 11 / 15;
    grid-row: 1 / 2;
    margin-top: 10px;
}

.conhecimento:nth-child(6) {
    grid-column: 12 / 15;
    grid-row: 3 / 4;
    margin-top: 10px;
}

.conhecimento:nth-child(7) {
    grid-column: 11 / 15;
    grid-row: 5 / -2;
    margin-top: 10px;
}

.conhecimento:nth-child(8) {
    grid-column: 10 / 13;
    grid-row: -1 / -1;
    margin-top: 10px;
}

.sessao-conhecimentos {
    background-color: #f5f5f5;
    height: 100%;
    padding-bottom: 50px;
}


/*cabeçario de conhecimentos*/

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*estilo do texto do cabeçario de conhecimentos*/

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1rem;
}


/*estilo do espaçamento do titulo da grid conhecimentos*/

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
    text-align: justify;
    width: 400px;
}


/*estilo do icone no titulo da grid conhecimentos*/

.conhecimento-header i {
    font-size: 2.5rem;
}


/*estilo do texto do titulo da grid conhecimentos*/

.conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}


/*estilo do texto frase grid*/

.conhecimento-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
    text-align: justify;
    margin-right: 1rem;
}

.planos-txt {}


/*estilo da imagem centralizada na grid*/

.conhecimentos-img-wrapper {
    grid-column: 4 / 12;
    grid-row: 1 / 6;
    margin-top: 50px;
    width: 80%;
    height: 80%;
}

.conhecimentos-img-wrapper-planos {
    grid-column: 6 / 12;
    grid-row: 1 / 6;
    margin-top: 50px;
    width: 80%;
    height: 80%;
}


/*estilo da imagem dentro da grid*/

.conhecimentos-img-wrapper img,
.conhecimentos-img-wrapper-planos img {
    object-fit: cover;
    height: 100%;
}


/*estilo da sessao de projetos*/

.projetos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}


/*caixa de grade dos projetos*/

.card {
    width: 19rem;
    height: 30rem;
    position: relative;
}


/*estilo das caixas de imagens dentro da grid*/

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
}


/*estilo das imagens dentro da grid*/

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}


/*estilo da animaçoa para imagem*/

.card:hover .card-img-wrapper img {
    opacity: 0.5;
}


/*estilo da caixa de texto dentro da imagem*/

.card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 1rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.74);
    transition: all 0.3s;
}


/*estilo do texto titulo dentro da caixa*/

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2.2rem;
    font-weight: 500;
    color: #eee;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 0rem;
    margin-top: -2rem;
}


/*estilo do texto subtitulo dentro da caixa*/

.card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}


/*estilo do paragrafo na caixa de texo*/

.card-info p {
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 85%;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    text-align: justify;
}


/*estilo do botao na caixa de texto da imagem*/

.btn {
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, rgba(41, 8, 53, 0.911), #703399d7, #d400ffdc, #d400ff);
    background: linear-gradient(to right, rgba(41, 8, 53, 0.911), #703399d7, #a619c2ee, #d400ff);
    font-family: var(--font-action);
    color: #eee;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}


/*animação para o botão do card indo*/

.card-info button {
    width: 8rem;
    height: 2.5rem;
}


/*animação para o botão do card indo*/

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}


/*estilo da area formulario de contato */

.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*estilo da caixa de form*/

.contato-wrapper {
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}


/*estilo da imagem ao lado form de contato*/

.contato-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)), url(imagens/contato.jpg);
    background-size: cover;
}

.contato-left-citp {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(36, 36, 36, 0.9)), url(imagens/cipt.jpg);
    background-size: cover;
}


/*estilo do formulario  pra contato */

.contato-right {
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}


/*titulo de contato*/

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 2rem;
    font-weight: lighter;
}

.sessao-contato hr {
    height: 0.5rem;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, rgba(41, 8, 53, 0.911), #703399d7, #d400ffdc, #d400ff);
    background: linear-gradient(to right, rgba(41, 8, 53, 0.911), #703399d7, #a619c2ee, #d400ff);
    border: none;
}

.sessao-contato p {
    padding-top: 4rem;
    padding-bottom: 5rem;
    text-align: justify;
}


/*estilo do agrupamento de caixas de texto do fomr */

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*estilo da posição do grupo de labels*/

.input-group {
    position: relative;
}


/*estilo do texto do form*/

.field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    /*retira a marcação automatica quando ta selecionado*/
    outline: none;
    margin: 1rem 0;
}


/*estilo para area de texto do form*/

.input-group textarea {
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3rem;
}

.field-label {
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all 0.3s;
}


/*estilo de trasformação no label focado*/

.field:valid~label,
.field:focus~label {
    top: 0;
    font-size: 0.7rem;
}

.field:focus {
    border-bottom: 1px solid;
}

.btn-submit {
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 80%;
    height: 2.5rem;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.preenchido {
    pointer-events: none;
}

.sessao-orcamento {
    width: 100%;
    height: 100vh;
    background: url("./imagens//bg-orcamento.jpg");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orcamento-wrapper {
    width: 60%;
    height: 80%;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.sessao-orcamento h1 {
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, rgba(41, 8, 53, 1), #703399d7, #d400ffdc, #d400ff);
    background: linear-gradient(to right, rgba(41, 8, 53, 1), #703399e3, #a619c2ee, #d400ff);
    padding: 0 3rem;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.sessao-orcamento form {
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label {
    font-family: var(--font-action);
    font-size: 1.5rem;
}

.sessao-orcamento input[type="number"] {
    font-family: var(--font-secundary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0.3rem;
}

.btn-orcamento {
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;
}

footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
}

.social-list a h3 {
    width: 125px;
    text-align: justify;
}

.social-list ul {
    display: flex;
}

#link-topo {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #ff00cc;
    background: -webkit-linear-gradient(to top, rgba(41, 8, 53, 1), #703399ec, #d518dbee, #d400ff);
    background: linear-gradient(to top, rgba(41, 8, 53, 1), #703399f3, #d518dbee, #d400ff);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.6rem #00000009;
}